@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


:root {
    --font-family:'Montserrat', sans-serif;
    --weight-regular:  400;
    --weight-medium:  500;
    --weight-semibold: 600;
    --weight-bold: 700;
   
    --color-bg: #ffffff;
    --color-text: #000000;
    --color-subtext: #898989;
    --color-button:  #000000;
    
}